@model MvcDemoProject.Models.Products

@{
    ViewData["Title"] = "Create";
}



<h4 class="text-center text-primary">Add New Products</h4>
<hr />
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pName" class="control-label"></label>
                <input asp-for="pName" class="form-control" />
                <span asp-validation-for="pName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pimgUrl" class="control-label"></label>
                <input asp-for="pimgUrl" class="form-control" />
                <span asp-validation-for="pimgUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="price" class="control-label"></label>
                <input asp-for="price" class="form-control" />
                <span asp-validation-for="price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="createdBy" class="control-label"></label>
                <input asp-for="createdBy" class="form-control" />
                <span asp-validation-for="createdBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="modifiedBy" class="control-label"></label>
                <input asp-for="modifiedBy" class="form-control" />
                <span asp-validation-for="modifiedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="createdDate" class="control-label"></label>
                <input asp-for="createdDate" class="form-control" />
                <span asp-validation-for="createdDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="modifiedDate" class="control-label"></label>
                <input asp-for="modifiedDate" class="form-control" />
                <span asp-validation-for="modifiedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                    <div class="row">
                        <div class="col-3">
                            <a asp-action="Index" class="btn btn-primary mt-3">Back</a>
    
                        </div>
                        <div class="col-7"></div>
                        <div class="col-2 text-end">
                            <input type="submit" value="Create" class="btn btn-success mt-3" />
                        </div>

                    </div>

                </div>
        </form>
    </div>
</div>
</div>
<div>
  
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
