
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div>
<h3 class="text-center">Contact Us</h3>
Need to get in touch with us?
    If you ask customers to submit 
    inquiries on your page,
    ensure you use the Contact Us form wisely.
    Try to limit the form to the essentials—such as name,
    email, and reason for contacting your company—just
    like the ecommerce
    marketing platform Privy did

</div>